nav {
    width: 100% !important;
    height: 10vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    margin: auto !important;
    background-color: black !important;
}

.logo img{
    width: 100px !important;
}

.navlinks {
    display: flex !important;
}

.navlinks li {
    list-style: none !important;
}

.navlinks li a {
    text-decoration: none !important;
    margin-left: 2.5rem !important;
    color: white !important;
    font-size: 1rem !important;
    letter-spacing: .03rem !important;
    position: relative !important;
}

.navlinks li a::after,
.navlinks li .active::after {
    content: "" !important;
    background: #d69f00 !important;
    position: absolute !important;
    height: .15rem !important;
    width: 100% !important;
    left: 0 !important;
    bottom: -5px !important;
    transform: scaleX(0) !important;
    transition: transform .5s ease !important;
    transform-origin: right !important;
}

.navlinks li a:hover::after,
.navlinks li .active::after {
    transform: scaleX(1) !important;
    transform-origin: left !important;
}