@font-face {
    font-family: "Absolut";
    src: url(/home/Font/Absolut_Pro_Black.otf);
}

@font-face {
    font-family: "astralaga";
    src: url(/home/Font/astralaga-regular.ttf);
}

@font-face {
    font-family: "Gilroy-Black";
    src: url(/home/Font/Gilroy-Black_0.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(/home/Font/Gilroy-Bold_0.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(/home/Font/Gilroy-Medium_0.ttf);
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(/home/Font/Gilroy-Regular_0.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/home/Font/Montserrat\ Semi\ Bold.OTF);
}


* {
    margin: 0;
    padding: 0;
}