@font-face {
    font-family: "Absolut";
    src: url(/Font/Absolut_Pro_Black.otf);
}

@font-face {
    font-family: "Agenor";
    src: url(/Font/Agenor-Black.ttf);
}

@font-face {
    font-family: "astralaga";
    src: url(/Font/astralaga-regular.ttf);
}

@font-face {
    font-family: "Gilroy-Black";
    src: url(/Font/Gilroy-Black_0.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(/Font/Gilroy-Bold_0.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(/Font/Gilroy-Medium_0.ttf);
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(/Font/Gilroy-Regular_0.ttf);
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(/Font/Gilroy-Light.otf);
}

@font-face {
    font-family: "Montserrat-Semi";
    src: url(/Font/Montserrat\ Semi\ Bold.OTF);
}
@font-face {
    font-family: "Montserrat-Variable";
    src: url(/Font/Montserrat-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}