@import url(/style.css);

/* Section One */
.section-one-home {
    height: 100vh;
    max-width: 100%;
    background-color: black;
}

.section-one-home .container {
    height: 95vh;
    background-color: rgba(233, 165, 8, 255);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    text-align: center;
}

.section-one-home .container img {
    max-width: 100%;
    max-height: 100%;
}



/* Section Two */
.section-two-home {
    height: 100vh;
    max-width: 100%;
    background-color: white;
    background-image: url(/assets/Home/Gif.gif);
    background-size: cover;
    background-position: center;
}

.section-two-home .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15% 0 51%;
}

.section-two-home .container h1 {
    font-size: 64px;
    font-family: "Gilroy-Black";
    line-height: 1;
    color: rgba(233, 165, 8, 255);
}

.section-two-home .container p {
    font-size: 22px;
    text-align: justify;
    font-family: "Gilroy-Regular";
    line-height: 1.6;
    margin-top: 20px;
}

.section-two-home .container p span {
    font-size: 64px;
    font-family: "Gilroy-Bold";

}

/* Section Three */

.section-three-home {
    height: 130vh;
    width: 100%;
    background-color: rgba(233, 165, 8, 255);
}

.section-three-home .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three-home .container .content {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three-home .container .content h1 {
    font-size: 64px;
    font-family: "Gilroy-Black";
    color: white;
}

.section-three-home .container .content h2 {
    font-size: 150px;
    font-family: "Gilroy-Black";
    color: black;
}

.section-three-home .container .content img {
    max-width: 60%;
    /* height: 80%; */
}

/* Section Four */

.section-four-home {
    height: 130vh;
    width: 100%;
    background-color: rgba(233, 165, 8, 255);
}

.section-four-home .container {
    height: 110vh;
    width: 100%;
    background-color: black;
    display: flex;
}

.section-four-home .container .content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-four-home .container .content h1 {
    font-size: 100px;
    font-family: "Gilroy-Medium";
    color: rgba(233, 165, 8, 255);
}

.section-four-home .container .content h2 {
    font-size: 64px;
    font-family: "Gilroy-Regular";
    color: white;
}

.section-four-home .container .content img {
    width: 100%;
}

.section-four-home .container .cards {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-four-home .container .cards .card img {
    width: 90%;
    border-radius: 8%;
    margin-bottom: 20px;
}

.section-four-home .container .cards .card h1 {
    font-size: 16px;
    font-family: "Gilroy-Medium";
    color: rgba(233, 165, 8, 255);
}

.section-four-home .container .cards .card p {
    font-size: 14px;
    font-family: "Gilroy-Regular";
}


/* Section Five */

.section-five-home {
    height: 110vh;
    width: 100%;
}

.section-five-home .brands {
    background-color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-five-home .brands img {
    width: 9%;
}

.section-five-home .brands .border {
    border: none;
    border-right: 2px solid rgba(233, 165, 8, 255);
}

.section-five-home .content {
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-five-home .content img {
    width: 30%;
}

.section-five-home .content p {
    font-family: "Gilroy-Bold";
    font-size: 50px;
    color: white;
    text-align: center;
}

.section-five-home .content p span {
    color: rgb(255, 145, 10);
}

/* Section Six */
.section-six-home {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.section-six-home .left {
    width: 70%;
}

.section-six-home .heading {
    height: 30vh;
    background-color: white;
}

.section-six-home .heading h1 {
    font-family: "Gilroy-Bold";
    font-size: 64px;
    line-height: 1;
    padding: 5% 0 0 10%;
}

.section-six-home .para {
    height: 15vh;
    background-color: rgba(233, 165, 8, 255);
    display: flex;
    align-items: center;
}

.section-six-home .para p {
    font-family: "Gilroy-Bold";
    font-size: 24px;
    color: white;
    line-height: 1;
    padding-left: 10%;
}

.section-six-home .middle {
    width: 25%;
}

.section-six-home .middle .contact-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.section-six-home .middle .contact-form .row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section-six-home .middle .contact-form input {
    width: 43%;
}

.section-six-home .middle .contact-form input,
.section-six-home .middle .contact-form textarea,
.section-six-home .middle .contact-form button {
    background-color: rgba(233, 165, 8, 255);
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
}

.section-six-home .middle .contact-form textarea {
    width: 90%;

}

input::placeholder,
textarea::placeholder {
    color: black;
}

.section-six-home .middle button {
    width: fit-content;
    cursor: pointer;
    color: black;
}

.section-six-home .right {
    width: 10%;
}

/* Section Seven */
.section-seven-home {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-image: url(/assets/Home/mobile\ with\ map\ final.png);
    background-size: cover;
    line-height: 0.9;
}

.section-seven-home .container {
    padding: 100px 0 0 800px;
}

.section-seven-home h1 {
    font-family: "Gilroy-Bold";
    font-size: 120px;
}

.section-seven-home h2 {
    font-family: "Gilroy-Black";
    color: rgba(233, 165, 8, 255);
    font-size: 200px;
}