@import url(/style.css);

/* Section One */
.section-one-services {
    height: 100%;
    width: 100vw;
    background-color: white;
    text-align: center;
}

.section-one-services>h1 {
    font-family: "Gilroy-Bold";
    font-size: 8vw;
    line-height: 0.9;
}

/* Section Two */
.section-two-services {
    height: 100%;
    width: 100vw;
    background-color: rgba(233, 165, 8, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.section-two-services>.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two-services>.image img {
    width: 36vw;
}

.section-two-services>.text {
    text-align: justify;
    padding-right: 6vw;
}

.section-two-services>.text h1 {
    color: white;
    font-family: "Gilroy-Bold";
    font-size: 2vw;

}

.section-two-services>.text h2 {
    color: black;
    font-family: "Gilroy-Black";
    font-size: 3vw;

}

.section-two-services>.text p {
    color: black;
    font-family: "Gilroy-Regular";
    font-size: 1.5vw;
}

/* Section Three */

.section-three-services {
    height: 100%;
    width: 100vw;
    background-color: white;
}

.section-three-services>.heading {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.section-three-services>.heading h1 {
    font-family: "Gilroy-Bold";
    font-size: 6vw;
    padding: 2vw;
}

.section-three-services>.heading span {
    color: rgba(233, 165, 8, 255);
}

.section-three-services>.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.section-three-services>.container .text {
    padding-left: 5vw;
}

.section-three-services>.container .text h1 {
    color: rgba(233, 165, 8, 255);
    font-family: "Gilroy-Black";
    font-size: 2vw;
}


.section-three-services>.container .text p {
    color: black;
    font-family: "Gilroy-Regular";
    font-size: 1.4vw;
}

.section-three-services>.container .text p span {
    color: rgba(233, 165, 8, 255);
    font-family: "Gilroy-Black";
    font-size: 7vw;
}

.section-three-services>.container .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three-services>.container .image img {
    width: 50vw;
}


/* Section Four */

.section-four-services {
    height: 100%;
    width: 100vw;
    background-color: white;
}

.section-four-services>.heading {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.section-four-services>.heading h1 {
    font-family: "Gilroy-Bold";
    font-size: 5vw;
    padding: 2.5vw;
}

.section-four-services>.heading span {
    color: rgba(233, 165, 8, 255);
}

.section-four-services>.container {
    background-color: rgba(233, 165, 8, 255);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}


.section-four-services>.container .text {
    text-align: center;
    padding-left: 7vw;
}

.section-four-services>.container .text h1 {
    font-family: "Gilroy-Black";
    color: black;
    font-size: 2vw;
}

.section-four-services>.container .text h2 {
    font-family: "Gilroy-Black";
    color: white;
    font-size: 5vw;
}

.section-four-services>.container .text p {
    font-family: "Gilroy-Regular";
    color: black;
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 5vh;
}

.section-four-services>.container .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four-services>.container .image img {
    width: 50vw;
}

/* Section Five */

.section-five-services {
    height: 100%;
    width: 100vw;
    background-color: white;
}

.section-five-services>.heading {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.section-five-services>.heading h1 {
    font-family: "Gilroy-Bold";
    font-size: 6vw;
    padding: 2vw;
}

.section-five-services>.heading span {
    color: rgba(233, 165, 8, 255);
}

.section-five-services>.container {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.section-five-services>.container .text {
    height: 100%;
    padding-left: 5vw;
    text-align: left;
}

.section-five-services>.container .text h1 {
    font-family: "Gilroy-Bold";
    color: black;
    font-size: 2vw;
}

.section-five-services>.container .text p {
    font-family: "Gilroy-Regular";
    color: rgba(233, 165, 8, 255);
    font-size: 1.3vw;
}

.section-five-services>.container .text p span {
    font-family: "Gilroy-Bold";
    font-size: 2vw;
}

.section-five-services>.container .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-five-services>.container .image img {
    width: 50vw;
}

/* Section Six */

.section-six-services {
    height: 100%;
    width: 100vw;
}

.section-six-services>.heading {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.section-six-services>.heading h1 {
    font-family: "Gilroy-Bold";
    font-size: 6vw;
    padding: 2vw;
}

.section-six-services>.heading span {
    color: rgba(233, 165, 8, 255);
}

.section-six-services>.container {
    height: 100%;
    background-color: rgba(233, 165, 8, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.section-six-services>.container .text {
    text-align: left;
    padding-left: 7vw;
}

.section-six-services>.container .text h1 {
    font-family: "Gilroy-Bold";
    color: white;
    font-size: 2vw;
}

.section-six-services>.container .text p {
    font-family: "Gilroy-Regular";
    color: black;
    font-size: 1.3vw;
}

.section-six-services>.container .text p span {
    font-family: "Gilroy-Bold";
    font-size: 2vw;
}

.section-six-services>.container .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-six-services>.container .image img {
    width: 50vw;
}






@media (max-width: 600px) {

    /* Section One */
    .section-one-services {
        height: 100%;
        width: 100vw;
        background-color: white;
        text-align: center;
    }

    .section-one-services>h1 {
        font-family: "Gilroy-Bold";
        font-size: 14vw;
        line-height: 0.9;
    }

    /* Section Two */
    .section-two-services {
        height: 100%;
        width: 100vw;
        background-color: rgba(233, 165, 8, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
    }

    .section-two-services>.image img {
        width: 80vw;
    }

    .section-two-services>.text {
        text-align: justify;
        padding: 0;
        margin: 0 0 5vh 0;
    }

    .section-two-services>.text h1 {
        color: white;
        font-family: "Gilroy-Bold";
        font-size: 4vw;

    }

    .section-two-services>.text h2 {
        color: black;
        font-family: "Gilroy-Black";
        font-size: 6vw;

    }

    .section-two-services>.text p {
        color: black;
        font-family: "Gilroy-Regular";
        font-size: 3vw;
    }

    /* Section Three */

    .section-three-services {
        height: 100%;
        width: 100vw;
        background-color: white;
    }

    .section-three-services>.heading {
        width: 100vw;
        background-color: black;
        color: white;
        text-align: center;
    }

    .section-three-services>.heading h1 {
        font-family: "Gilroy-Bold";
        font-size: 7vw;
        padding: 2vw;
    }

    .section-three-services>.heading span {
        color: rgba(233, 165, 8, 255);
    }

    .section-three-services>.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
    }

    .section-three-services>.container .text {
        padding: 3vh 0;
    }

    .section-three-services>.container .text h1 {
        color: rgba(233, 165, 8, 255);
        font-family: "Gilroy-Black";
        font-size: 4vw;
    }

    .section-three-services>.container .text p {
        color: black;
        font-family: "Gilroy-Regular";
        font-size: 3vw;
    }

    .section-three-services>.container .text p span {
        color: rgba(233, 165, 8, 255);
        font-family: "Gilroy-Black";
        font-size: 12vw;
    }

    .section-three-services>.container .image img {
        width: 100vw;
    }

    /* Section Four */

    .section-four-services {
        height: 100%;
        width: 100vw;
        background-color: white;
    }

    .section-four-services>.heading {
        width: 100vw;
        background-color: black;
        color: white;
        text-align: center;
    }

    .section-four-services>.heading h1 {
        font-family: "Gilroy-Bold";
        font-size: 7vw;
        padding: 2vw;
    }

    .section-four-services>.heading span {
        color: rgba(233, 165, 8, 255);
    }

    .section-four-services>.container {
        background-color: rgba(233, 165, 8, 255);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3vw;
    }


    .section-four-services>.container .text {
        text-align: center;
        padding: 0;
    }

    .section-four-services>.container .text h1 {
        font-family: "Gilroy-Black";
        color: black;
        font-size: 4vw;
    }

    .section-four-services>.container .text h2 {
        font-family: "Gilroy-Black";
        color: white;
        font-size: 8vw;
    }

    .section-four-services>.container .text p {
        font-family: "Gilroy-Regular";
        color: black;
        font-size: 3vw;
        text-align: justify;
        margin-top: 2vh;
    }

    .section-four-services>.container .image img {
        width: 100vw;
    }

    /* Section Five */

    .section-five-services {
        height: 100%;
        width: 100vw;
        background-color: white;
    }

    .section-five-services>.heading {
        width: 100vw;
        background-color: black;
        color: white;
        text-align: center;
    }

    .section-five-services>.heading h1 {
        font-family: "Gilroy-Bold";
        font-size: 7vw;
        padding: 2vw;
    }

    .section-five-services>.heading span {
        color: rgba(233, 165, 8, 255);
    }

    .section-five-services>.container {
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
    }

    .section-five-services>.container .text {
        height: 100%;
        padding: 3vh 0 0 0;
        text-align: left;
    }

    .section-five-services>.container .text h1 {
        font-family: "Gilroy-Bold";
        color: black;
        font-size: 4vw;
    }

    .section-five-services>.container .text p {
        font-family: "Gilroy-Regular";
        color: rgba(233, 165, 8, 255);
        font-size: 2.8vw;
    }

    .section-five-services>.container .text p span {
        font-family: "Gilroy-Bold";
        font-size: 4vw;
    }

    .section-five-services>.container .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-five-services>.container .image img {
        width: 100vw;
    }

    /* Section Six */

    .section-six-services {
        height: 100%;
        width: 100vw;
    }

    .section-six-services>.heading {
        width: 100vw;
        background-color: black;
        color: white;
        text-align: center;
    }

    .section-six-services>.heading h1 {
        font-family: "Gilroy-Bold";
        font-size: 6vw;
        padding: 2vw;
    }

    .section-six-services>.heading span {
        color: rgba(233, 165, 8, 255);
    }

    .section-six-services>.container {
        height: 100%;
        background-color: rgba(233, 165, 8, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
    }

    .section-six-services>.container .text {
        text-align: left;
        padding: 3vh 0 0 0;
    }

    .section-six-services>.container .text h1 {
        font-family: "Gilroy-Bold";
        color: white;
        font-size: 4vw;
    }

    .section-six-services>.container .text p {
        font-family: "Gilroy-Regular";
        color: black;
        font-size: 2.8vw;
    }

    .section-six-services>.container .text p span {
        font-family: "Gilroy-Bold";
        font-size: 4vw;
    }

    .section-six-services>.container .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-six-services>.container .image img {
        width: 100vw;
    }
}