@import url(/style.css);

/* Section One */
.section-one-about {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/about/front-view-desk-concept-with-copy-space.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
}
.section-one-about h1{
    font-family: "Gilroy-Black";
    color: rgba(233, 165, 8, 255);
    font-size: 100px;
    padding: 200px;
}
/* Section Two */
.section-two-about{
    height: 30vh;
    width: 100%;
    background-color: rgba(233, 165, 8, 255);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-two-about div{
    text-align: center;
}

.section-two-about div h1{
    font-family: Gilroy-Regular;
    font-size: 130px;
}
.section-two-about div p{
    font-size: 36px;
    font-family: Gilroy-Black;

}

/* Section Three */

.section-three-about{
    height: 70vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three-about p{
    font-size: 22px;
    line-height: 1.5;
    padding: 0 25vw 0 25vw;
    text-align: justify;
    font-family: Gilroy-Regular;
}
